# Door Access Control Configuration Example
# Copy this file to .env and configure your local private settings:
# copy .env.example .env

DOOR_PIN= 8080
ACCESS_NORMAL_START=00:00
ACCESS_NORMAL_END=00:01
